        ProxyPreserveHost On

        ProxyPass        /garagesale/  http://127.0.0.1:5000/
        ProxyPassReverse /garagesale/  http://127.0.0.1:5000/

        <Location /garagesale/>
            RequestHeader set X-Forwarded-Prefix "/garagesale"
            RequestHeader set X-Forwarded-Proto "https"
        </Location>

        <LocationMatch "^/garagesale/backend/">
            Require all denied
        </LocationMatch>

        <Location /garagesale/admin>
            Require ip 192.168.0.0/16 10.0.0.0/8 172.16.0.0/12 127.0.0.1
        </Location>
